<div class="row">
	<div class="col-lg-12">
		<h3>
			<small>Escoja sus clasificados a cada una de las rondas</small>
		<span class="label label-info"><%= number_to_percentage(qualifieds_completed(@polla), precision: 2)%> Completado</span>
		</h3>
	</div>
</div>
<%= form_for @polla, remote: true, html: {class: 'form-horizontal'} do |f| %>
			<div class="col-md-12">
				<div class="widget wblue">       
					<div class="widget-head">
		                    <div class="pull-left">Rondas Finales</div>
		                    <div class="widget-icons pull-right">
		                      <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
		                    </div>
		                    <div class="clearfix"></div>
					</div>
		   			<div class="widget-content">
		  				<div class="padd">
							<%= render 'layouts/error_messages', object: f.object %> 								
	  							<% Round.all.each_with_index do |r, i| %>
								
								<h4><%= "Puntos por Acierto: #{['2','5', '7'][i]}"%></h4>
								<h6><%= "#{r.name}: Escoja los #{r.number_of_teams} equipos clasificados" %></h6>
								<hr></hr>
								<br/>
								
								<% @polla.qualifieds.where('round_id = ?', r.id).each_with_index do |qualified, index| %>
									<%= f.fields_for :qualifieds, qualified do |q| %>							
								
										<% if @qualifieds_open.include?(index) %>
											<div class="form-group">
										<%end%>
												<div class="col-md-2">
													<%= q.label :team_id, "Equipo #{index+1}", class: 'control-label' %>
												</div>
												<div class="col-md-2">
													<%= q.select :team_id, Team.all.map{|t| [t.name, t.id]}, {include_blank: true}, class: 'col-md-2 form-control' %>
												</div>
										<% if @qualifieds_close.include?(index) || (r.id == 2 && index == 7) || (r.id == 3 && index == 4) %>
											</div>
										<%end%>
							
									<%end%>
									<%end%>						
							<%end%>
						</div>
					</div>
				</div>
			</div>	
								
		<div class="well">
		<%= f.submit 'Enviar Equipos Clasificados', class: 'btn btn-primary btn-lg back-to-top'%>		
		</div>

<%end%>
</div>
	    						